<html>
	<head>
		<title>Transform_PostGIS</title>
		
		<script type="text/javascript">
			function geragjs(i){
				for (var j = 0; j < i; j++){
					var campo = document.getElementById('campo').checked;
					var tipo = document.getElementById('tipo').checked;
					console.log(campo, tipo, j);
				}
				//window.open("http://localhost:3000/info");
			}
		</script>
	</head>
	<body>
		<div align='center'>
			<h1>LISTA DAS TABELAS E SRID</h1>
			<% 	var tabela = list[0].tabela; %>
			
			<h3> NOME DA TABELA: <%= tabela %>	</h3>
			<p>
			<table border='1'>
				<thead>
					<th>CAMPO</th>
					<th>TIPO</th>
				</thead>
				<tbody>
					<% 
						for(var i = 0; i < list.length; i++) {
							var nome = list[i].nome;
							var tipo = list[i].tipo;
							
							vetor = JSON.stringify({"campo":nome, "tipo":tipo, "id":i});
							//console.log(vetor);
					%>
							<tr>
								<td><input type="checkbox" id='campo<%= i;%>'> <%= nome %></td>	
								<td><%= tipo %></td>								
							</tr>
					<% 	
						} 	
					%>
						<tr> <td align='center' colspan=2> <button onclick="geragjs(<%= i;%>);"> GeoJSON </button> </td> </tr>
				<tbody>
			</table>		
		</div>
	<body>
<html>