<html>
	<head>
		<title>Transform_PostGIS</title>
		
		<script type="text/javascript">
			var vet_tab = [];
			
			function geragjs(param){
				var status = param.status;
				//console.log(status);
				if (typeof status === "undefined"){
					var campo = param.campo;
					var tipo = param.tipo;
					var id = param.id;			
					
					vet_tab.push([id,campo,tipo]);					
					console.log(vet_tab);
				}else{
					console.log(vet_tab);
					//window.open("http://localhost:3000/geojson/"+tabela+"/"+geometria+"/"+srid+"/"+tipo);
				}
			}
		</script>
	</head>
	<body>
		<div align='center'>
			<h1>LISTA DAS TABELAS E SRID</h1>
			<% 	var tabela = list[0].tabela; %>
			
			<h3> NOME DA TABELA: <%= tabela %>	</h3>
			<p>
			<table border='1'>
				<thead>
					<th>CAMPO</th>
					<th>TIPO</th>
				</thead>
				<tbody>
					<% 
						for(var i = 0; i < list.length; i++) {
							var nome = list[i].nome;
							var tipo = list[i].tipo;
							
							vetor = JSON.stringify({"campo":nome, "tipo":tipo, "id":i});
							//console.log(vetor);
					%>
						<tr>
							<td><input type="checkbox" id='campo<%= i;%>' onclick="geragjs(<%= vetor;%>)"> <%= nome %></td>	
							<td><%= tipo %></td>								
						</tr>
					<% 	
						}
						var status = JSON.stringify({"status":tabela});
					%>
						<tr> <td align='center' colspan=2> <button onclick="geragjs(<%= status %>);"> GeoJSON </button> </td> </tr>
				<tbody>
			</table>		
		</div>
	<body>
<html>